<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="测试套件" verbose="1" parallel="classes" thread-count="2">
    <test name="简单测试" preserve-order="true">
        <!--指定运行的类-->
        <!--<classes>-->
            <!--<class name="test.sample.FirstTest2"/>-->
            <!--<class name="test.sample.FixtureTest"/>-->
        <!--</classes>-->

        <!--指定运行的包-->
        <!--<packages>-->
            <!--<package name="test.sample"/>-->
        <!--</packages>-->

        <!--指定运行的测试用例-->
        <!--<classes>-->
            <!--<class name="test.sample.FixtureTest">-->
                <!--<methods>-->
                    <!--<include name="testcase2"/>-->
                <!--</methods>-->
            <!--</class>-->
        <!--</classes>-->
        <!--根据标签筛选要运行用例-->

        <!--<groups>-->
            <!--<run>-->
                <!--<exclude name="异常"/>-->
                <!--<include name="功能测试"/>-->
            <!--</run>-->
        <!--</groups>-->
        <!--<classes>-->
            <!--<class name="test.sample.TagTest">-->
                <!--<methods>-->
                    <!--<include name="testCase3"/>-->
                    <!--<include name="testCase1"/>-->
                    <!--<include name="testCase2"/>-->
                <!--</methods>-->
            <!--</class>-->
        <!--</classes>-->
        <parameter name="add1" value="3"/>
        <parameter name="add2" value="2"/>
        <parameter name="add3" value="5"/>
        <classes>
            <class name="test.sample.DataProviderTest"/>
            <class name="test.sample.FixtureTest"/>
        </classes>

    </test>
</suite>